{% extends 'base.html' %} {% load static %} {% block pageContent %} {% load customfilter %}
<style>
    .al-logo {
        height: 3em;
        width: 3em;
        object-fit: scale-down;
        object-position: center center;
    }
    
</style>
<section class="py-4">
    <div class="container"> 
        <h3 class="fw-bolder text-center">List of Products</h3>
        <center>
            <hr class="bg-primary opacity-100" style="height:3px" width="5%">
        </center>
        <div class="card rounded-0 shadow">
            <div class="card-body">
                <div class="container-fluid">
                    <div class="text-end mb-3">
                        <button class="btn rounded-0" type="button" id="create_new"><i class="fa fa-plus"></i> Add New product</button>
                    </div>
                    <table class="display cell-border" class="table table-bordered table-striped" style="width:100%" id="product-tbl">
                        <thead>
                            <tr>
                                <th >#</th>
                                <th >product</th>
                                <th >quantity</th>
                                <th >Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                            <tr>
 
                                <td>{{ forloop.counter }}</td>
                                <td>{{ product.name}}</td>
                                <td>{{ product.quantity | check_value}}</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-light btn-sm rounded-0 border dropdown-toggle" type="button" id="abtn{{cat.pk}}" data-bs-toggle="dropdown" aria-expanded="false">
                                          Action
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="abtn{{product.pk}}">
                                            <li><a class="dropdown-item edit-data-prod" href="javascript:void(0)" data-url="{% url 'accounts:manage-products-pk' product.pk %} "><i class="fa fa-edit text-primary"></i> Edit</a></li>
                                            <li><a class="dropdown-item delete-data-prod" href="javascript:void(0)" data-url="{% url 'accounts:delete-product' product.pk %}"><i class="fa fa-trash text-danger"></i> Delete</a></li>
                                        </ul>
                                    </div>
                                
                                </td>
                 
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table> 
                </div>
            </div>
        </div>
    </div> 
</section>
{% endblock pageContent %} {% block ScriptBlock %}
<script>
    var dataTable = $('#product-tbl').DataTable({
            layout: {
                    topStart: {
                        buttons: [
                        {
                            extend: 'print',
                            title: '',
                            autoPrint: true,
                            customize: function (win) {
                                $(win.document.body).find('th:last-child').text('Received');
                                $(win.document.body).find('td:last-child').empty();
                            }
                        },
                        {
                                extend: 'pdfHtml5',
                                title:"",
                                exportOptions: {
                                    columns: [ 0, 1, 2],
                             

                                },
                                customize: function (doc) {
                                    doc.styles['table'] = {alignment:'center'};
                                    doc.content[0].table.widths = [ '5%',  '40%', '40%','15%'];
                                    processDoc(doc);
                                   addExtraColumn(doc);
                                    doc.content[0].layout = 'lightHorizontalLines'  
                                }
                            }
                        ]  
                }
            }, 
            responsive: true,
            columnDefs: [
                {
                    orderable: false,
                    targets: [1,2,3]
                },
                { "width": "120px", "targets": 3 }, // Set width for the first column
                { responsivePriority: 1, targets: 1 },
                { responsivePriority: 2, targets: -1 },
            ],
            order: [[0, 'asc']],
            lengthMenu: [
                [25, 50, 100, -1],
                [25, 50, 100, "All"]
            ],
        })
    
    $('#create_new').click(function() {
        $.ajax({
            
        url: "{% url 'accounts:manage-products'  %}",
        method: 'GET',
        data: {
            'user_id': {{user.id}},
        },
        error: err =>{
                alert("An error occured")
            },
        success: function(resp){
            if(resp){
                $('#uni_modal .modal-title').html("Add New Product")
                $('#uni_modal .modal-body').html(resp)
                
                $('#uni_modal').modal({
                    backdrop:'static',
                    keyboard:false,
                    focus:true
                })
                $("#uni_modal").modal('show')
                end_loader()
            }
        }
        });
            
    })
    $('#product-tbl').on('click', '.edit-data-prod', function() {
        uni_modal("<i class='fa fa-edit'></i> Edit Product Details", $(this).attr('data-url'));
    });
$('#product-tbl').on('click', '.delete-data-prod', function() {
        _conf("Are you sure to delete this Product?", 'delete_product', ["'" + $(this).attr('data-url') + "'"]);
    });        

        function delete_product(url) {

        var _this = $('#confirm_modal .modal-body')
        $('.err-msg').remove();
        var el = $('<div>')
        el.addClass("alert alert-danger err-msg")
        el.hide()
        start_loader()
        $.ajax({
            headers: {
                "X-CSRFToken": "{{csrf_token}}"
            },
            url: url,
            dataType: 'JSON',
            error: err => {
                console.log(err)
                alert("an error occurred.")
                end_loader()
            },
            success: function(resp) {
                if (resp.status == 'success') {
                    location.reload()
                } else if (!!resp.msg) {
                    el.html(resp.msg)
                    _this.prepend(el)
                    el.show()
                } else {
                    el.html("An error occurred")
                    _this.prepend(el)
                    el.show()
                }
                end_loader()
            }

        })
    }
        function processDoc(doc) {
    pdfMake.fonts = {
      Roboto: {
        normal: 'Roboto-Regular.ttf',
        bold: 'Roboto-Medium.ttf',
        italics: 'Roboto-Italic.ttf',
        bolditalics: 'Roboto-MediumItalic.ttf'
      },
      arial: {
        normal: 'arial.ttf',
        bold: 'arial.ttf',
        italics: 'arial.ttf',
        bolditalics: 'arial.ttf'
      },
      noto:{
        normal: 'noto.ttf',
        bold: 'noto.ttf',
        italics: 'noto.ttf',
        bolditalics: 'noto.ttf'
      }
    };
    // modify the PDF to use a different default font:
    doc.defaultStyle.font = "noto";
    var i = 1;
    }
    function addExtraColumn(pdf) {
    pdf.content[0].table.body.forEach(function(row, idx) { 
      let newCell = structuredClone(row[0]);
      newCell.text = idx === 0 ? "InStock" : "";
      row.push( newCell );
    })
  };
</script>
{% endblock ScriptBlock %}