<div class="container-fluid">
<form id="transaction">
{% csrf_token %}       
          <div class="form-group row">
        <input type="hidden" name="id" value="{{transaction.id}}">
        <input type="hidden" name="user_id" value="{{user_id}}">
        <div class="col-md-6">
            <label for="date">Date:</label>
            <input type="date" name='date' class="form-control" id="date-edit" value="{{transaction.form.created_at|date:'Y-m-d'}}" required>
        </div>
        <div class="col-md-6">
        <label for="party" class="control-label">Party:</label>
        <input type="text" id="name" name="name" value="{{transaction.party}}" list="partyList" class="form-control" required>
        <datalist id="partyList">
            {% for party in parties %}
            <option value="{{party.name}}">
            {% endfor %}
        </datalist>
    </div>
</div>
<div class="form-group">
    <label for="description">Description:</label>
    <input class="form-control" name="description" value="{{transaction.description}}" id="description-edit" rows="3" ></input>
</div>

<div class="form-group row">
    <div class="col-md-6">
        <label for="debit">Debit Amount:</label>
        <input type="number" name="debit" class="form-control" value="{{transaction.debit}}" id="debit-edit" min="0" step="0.01" default="0" required>
    </div>
    <div class="col-md-6">
        <label for="credit">Credit Amount:</label>
        <input type="number" name="credit" class="form-control" value="{{transaction.credit}}" id="credit-edit" min="0" step="0.01" default="0" required>
    </div>
</div>
</form>
</div>
<script>
    $(document).ready(function () {
        var debitInput = $('#debit-edit');
        var creditInput = $('#credit-edit');

        // Disable credit input if debit value is greater than 0
        debitInput.on('input', function () {
            if (parseFloat(debitInput.val()) > 0) {
                creditInput.prop('disabled', true);
            } else {
                creditInput.prop('disabled', false);
            }
        });

        // Disable debit input if credit value is greater than 0
        creditInput.on('input', function () {
            if (parseFloat(creditInput.val()) > 0) {
                debitInput.prop('disabled', true);
            } else {
                debitInput.prop('disabled', false);
            }
        });
        // Handle initial state
        if (parseFloat(debitInput.val()) > 0) {
            creditInput.prop('disabled', true);
        } else if (parseFloat(creditInput.val()) > 0) {
            debitInput.prop('disabled', true);
        }

       

     $('#transaction').submit(function (e) {
            var date = $('#date').val()
            e.preventDefault()
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'save-transaction'  %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert("An error occured", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                    form_modal("{% url 'manage-transaction' user_id %}")
                    // Refresh the manage-transaction modal content
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg)
                    } else {
                    $('#uni_modal').modal('hide');
                        el.text("An error occured", 'error');
                        end_loader();
                    form_modal("{% url 'manage-transaction' user_id %}")
                        console.log(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal").scrollTop(0);
                    end_loader()
                }
            })
     });
     $('#uni_modal').on('shown.bs.modal', function () {
             $('#name-edit').select2({
                placeholder:"Please Select Party Here",
                width:"100%",
                dropdownParent:$('#uni_modal'),
                selectCssClass:"form-control form-contol-sm rounded-0"
            })
            $('#name-edit').focus();
        });
    })
  
</script>
