{% extends 'base.html' %} {% load static %} {% block pageContent %} {% load customfilter %}
<style>
    .al-logo {
        height: 3em;
        width: 3em;
        object-fit: scale-down;
        object-position: center center;
    }
</style>
<section class="py-4">
    <div class="container"> 
        <h3 class="fw-bolder text-center">List of Parties</h3>
        <center>
            <hr class="bg-primary opacity-100" style="height:3px" width="5%">
             {% if request.user.is_superuser %}
            <button type="button" class="btn btn-primary" id="new_form" >
                Manage Transactions
            </button>
            {% endif %}
        </center>
        <div class="card rounded-0 shadow">
            <div class="card-body">
                <div class="container-fluid">
                {% if request.user.is_superuser %}
                    <div class="text-end mb-3">
                        <button class="btn btn-sm btn-primary rounded-0 bg-gradient-primary" type="button" id="create_new"><i class="fa fa-plus"></i> Add New Party</button>
                    </div>
                {% endif %}
                    <table class="display cell-border" class="table table-bordered table-striped" style="width:100%" id="party-tbl">
                        <thead>
                            <tr>
                                <th >#</th>
                                <th >Name</th>
                                <th >Address</th>
                                <th >Phone_number</th>
                                <th >Balance</th>
                                <th >Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for party in parties %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ party.name}}</td>
                                <td>{{ party.address | check_value}}</td>
                                <td>
                                    <p class="m-0 truncate-1">{{ party.phone_number | check_value }}</p>
                                </td>
                                <td>
                                    {% with balance=party.get_balance %}
                                        {% if balance > 0 %}
                                            <p class="m-0 truncate-1 text-success">{{ balance }}</p>
                                        {% elif balance < 0 %}
                                            <p class="m-0 truncate-1 text-danger">{{ balance | abs }}</p>
                                        {% else %}
                                            <p class="m-0 truncate-1">{{ balance }}</p>
                                        {% endif %}
                                    {% endwith %}
                                </td>

                                <td>
                                {% if request.user.is_superuser %}
                                
                                    <div class="dropdown">
                                        <button class="btn btn-light btn-sm rounded-0 border dropdown-toggle" type="button" id="abtn{{cat.pk}}" data-bs-toggle="dropdown" aria-expanded="false">
                                          Action
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="abtn{{party.pk}}">
                                            <li><a class="dropdown-item view-data-trans" href="{% url 'view-transactions' party.pk %}"><i class="fa fa-eye text-dark"></i>View Transactions</a></li>
                                            <li><a class="dropdown-item edit-data" href="javascript:void(0)" data-url="{% url 'manage-party-pk' party.pk %}"><i class="fa fa-edit text-primary"></i> Edit</a></li>
                                            <li><a class="dropdown-item delete-data" href="javascript:void(0)" data-url="{% url 'delete-party' party.pk %}"><i class="fa fa-trash text-danger"></i> Delete</a></li>
                                        </ul>
                                    </div>
                                
                                {% else %}
                                    <button ><a class="dropdown-item view-data"  href="{% url 'view-transactions' party.pk %}"></i> Transactions</a></button>
                                {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table> 
                </div>
            </div>
        </div>
    </div> 
</section>
{% endblock pageContent %} {% block ScriptBlock %}
<script>
    
    $(function() {
         $('#new_form').click(function(){
            form_modal("{% url 'manage-transaction' user_id %}")
        })
        $('#create_new').click(function() {
            uni_modal("<i class='fa fa-plus'></i> Add New Party", "{% url 'manage-party-new' user_id %}")
        })
            // Attach click event to the view-data link


        $('.edit-data').click(function() {
            uni_modal("<i class='fa fa-edit'></i> Edit Party Details", $(this).attr('data-url'))
        })
        $('.view_image').click(function() {
            var img = $(this).attr('data-img-url')
            $('#viewer_modal #img-viewer-field').attr('src', img)
            $('#viewer_modal').modal('show')
        })
        $('.delete-data').click(function() {
            _conf("Are you sure to delete this party?", 'delete_party', ["'" + $(this).attr('data-url') + "'"])
        })
        $('#party-tbl').find('td, th').addClass('px-2 py-1 align-middle')
        var dataTable = $('#party-tbl').DataTable({
            layout: {
                    topStart: {
                        buttons: [
                            {
                                extend: 'print',
                                title:'',
                                autoPrint: true,
                                customize: function ( win ) {
                                        $(win.document.body).find('th:last-child').text('Received');
                                        $(win.document.body).find('td:last-child').empty();
                                }
                        
                            }]  
                }
            }, 
            responsive: {
                details: {
                    type: 'column',
                    target: 'tr'
                }
            },
            columnDefs: [
                {
                    orderable: false,
                    targets: [1,2,3,4,5]
                },
                { "width": "120px", "targets": 3 }, // Set width for the first column
                { "width": "70px", "targets": 4 },   // Set width for the third column
                { "width": "40px", "targets": 5 },
                { responsivePriority: 1, targets: 1 },
                { responsivePriority: 2, targets: -1 },
                { responsivePriority: 3, targets: 4 },
            ],
            order: [[0, 'asc']],
            lengthMenu: [
                [25, 50, 100, -1],
                [25, 50, 100, "All"]
            ],
        })
        var hideColumnIndex = 0;
        var column = dataTable.column(hideColumnIndex);
        column.visible(false);

})

    function delete_party(url) {

        var _this = $('#confirm_modal .modal-body')
        $('.err-msg').remove();
        var el = $('<div>')
        el.addClass("alert alert-danger err-msg")
        el.hide()
        start_loader()
        $.ajax({
            headers: {
                "X-CSRFToken": "{{csrf_token}}"
            },
            url: url,
            dataType: 'JSON',
            error: err => {
                console.log(err)
                alert("an error occurred.")
                end_loader()
            },
            success: function(resp) {
                if (resp.status == 'success') {
                    location.reload()
                } else if (!!resp.msg) {
                    el.html(resp.msg)
                    _this.prepend(el)
                    el.show()
                } else {
                    el.html("An error occurred")
                    _this.prepend(el)
                    el.show()
                }
                end_loader()
            }

        })
    }
</script>
{% endblock ScriptBlock %}